<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>搜索结果页</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<style>
   .ndata {
      height: 100px;
      line-height: 100px;
      text-align: center;
      font-size: 16px;
      color: #333;
      display: none;
   }
</style>
<body>
	<div class="content">
        <div class="lists">
            <div class="coming-box">
                <ul class="coming">
                   
                </ul>
            </div>
        </div>
        <p class="ndata">没有搜索到相关信息</p>
	</div>
   <div class="mask">
     <div class="submit_info">
       <div class="no_signed">
         <div class="sub_title">
           <span>请输入用户信息进行验证</span>
         </div>
         <div class="reitems">
           <input type="text" class="reinput usernum" placeholder="请填写用户编号">
         </div>
         <div class="reitems">
           <input type="password" class="reinput user_password" placeholder="请填写用户密码">
         </div>
         <div class="subbtn">
           提交
         </div>
         <div class="no_info">
           <a href="/vote/register">
             <span>没有用户名和编号？</span>
             <span>请先进行报名</span>
           </a>
         </div>
       </div>
       <div class="signed">
         <p>Welcome!</p>
         <p class="username">鸣人</p>
         <div class="dropout">
           退出登入
         </div>
       </div>
     </div>
   </div>
</body>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/vote.js?v=1"></script>
</html>